@charset "UTF-8";
body, div, img, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: SimHei,"黑体", Arial, sans-serif; }
  body:hover, div:hover, img:hover, span:hover, header:hover, footer:hover, nav:hover, section:hover, aside:hover, article:hover, ul:hover, dl:hover, dt:hover, dd:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, i:hover, b:hover, textarea:hover, button:hover, input:hover, select:hover, figure:hover, figcaption:hover {
    outline: none; }

img {
  vertical-align: middle; }

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none; }

textarea {
  -webkit-appearance: none; }

body {
  width: 1280px;
  height: 720px;
  background: #F5F5F5 no-repeat;
  position: relative;
  font-size: 20px;
  color: #ffffff; }

.oh {
  overflow: hidden; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.margin {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

@keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite; }

body {
  background-image: url("../img/img_bg.png");
  color: #fff;
  overflow: hidden; }

.main {
  width: 1152px;
  height: 720px;
  margin: 0 auto;
  position: relative; }

.head {
  position: relative;
  top: 36px;
  overflow: hidden; }
  .head .date {
    width: 115px;
    height: 48px;
    float: left;
    color: #bcbbb9; }
  .head .weather {
    float: left;
    margin-right: 20px; }
  .head .time {
    font-size: 48px;
    float: left; }

.location {
  margin-top: 64px;
  color: #bcbbb9; }

.list {
  margin-top: 51px;
  height: 445px;
  overflow-y: scroll; }
  .list li {
    width: 340px;
    height: 203px;
    border: 3px solid transparent;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin: 0 31px 31px 0;
    background-color: blue; }
    .list li p {
      text-align: center; }
    .list li .p1 {
      font-size: 24px;
      margin-top: 79px; }
    .list li .p2 {
      color: #bcbbb9; }
  .list li:focus {
    border: 3px solid #ededed;
    outline: none;
    top: -5px;
    position: relative; }

.list::-webkit-scrollbar {
  width: 10px;
  height: 4px; }

.list::-webkit-scrollbar-track {
  background: #2e2e2e; }

.list::-webkit-scrollbar-thumb {
  background: #575757; }

.list::-webkit-scrollbar-thumb:hover {
  background: #747474; }

.list::-webkit-scrollbar-corner {
  background: #f6f6f6; }

/*# sourceMappingURL=index.css.map */
