@import "../../../styles/common";
@import "../../../styles/mixin";

body {
  //background-image: url("../../../assets/backbg.png");
  background-image: url("../assets/backbg.png");
  color: #fff;
  overflow: hidden;
}

.main {
  width: 1122px;
  margin: 0 auto;
  position: relative;
  top: 34px;
}

.head {
  overflow: hidden;
  .line {
    margin: 0 5px;
  }
  p {
    line-height: 1;
  }
  .p1 {
    font-size: 38px;
  }
}

.location {
  margin-top: 29px;
  color: #e4d5fe;
}
.main-box {
  height: 504px;
  width: 1122px;
  position: relative;

  .prev {
    position: absolute;
    left: 0;
    top: 186px;
  }
  .next {
    position: absolute;
    right: 0;
    top: 186px;
  }
  .back-to-home {
    width: 130px;
    height: 41px;
    @include borderRadius(20.5px);
    color: #30d0fe;
    text-align: center;
    line-height: 41px;
    border: 2px solid #30d0fe;
    position: absolute;
    bottom: 0;
    left: 493px;
  }
}