@charset "UTF-8";
body, div, img, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: "黑体", Arial, sans-serif; }
  body:hover, div:hover, img:hover, span:hover, header:hover, footer:hover, nav:hover, section:hover, aside:hover, article:hover, ul:hover, dl:hover, dt:hover, dd:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, i:hover, b:hover, textarea:hover, button:hover, input:hover, select:hover, figure:hover, figcaption:hover {
    outline: none; }

img {
  vertical-align: middle; }

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none; }

textarea {
  -webkit-appearance: none; }

body {
  width: 1280px;
  height: 720px;
  background: #F5F5F5 no-repeat;
  position: relative;
  font-size: 20px;
  color: #ffffff; }

.oh {
  overflow: hidden; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.margin {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

@keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite; }

body {
  background-image: url("../img/bg_tv_color.png");
  color: #fff;
  overflow: hidden; }

.main {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  top: 27px; }

.head {
  font-size: 32px;
  overflow: hidden; }
  .head .left {
    font-size: 26px; }
  .head .right {
    font-size: 18px;
    margin-top: 6px; }
    .head .right .and {
      margin: 0 5px; }

.main-content {
  margin-top: 65px;
  height: 593px; }
  .main-content .left-menu {
    width: 198px;
    padding: 38px 0; }
    .main-content .left-menu li {
      width: 198px;
      height: 52px;
      margin: 23px 0; }
      .main-content .left-menu li div {
        width: 198px;
        height: 52px;
        line-height: 52px;
        font-size: 24px;
        color: #9a9ea5;
        padding-left: 30px; }
      .main-content .left-menu li .is-active {
        background: url("../img/btn_list_sel.png") no-repeat;
        font-size: 26px;
        color: #f1f1f1; }
  .main-content .right-content {
    margin-left: 187px;
    float: left;
    height: 593px;
    overflow-y: auto;
    padding-right: 70px; }
    .main-content .right-content ul li {
      width: 708px;
      height: 156px;
      background: url("../img/mask_list.png");
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      -ms-border-radius: 12px;
      -o-border-radius: 12px;
      border-radius: 12px;
      border: 3px solid #ff6961;
      margin-bottom: 19px; }
      .main-content .right-content ul li div {
        margin: 27px 34px 0; }
      .main-content .right-content ul li p {
        line-height: .9; }
      .main-content .right-content ul li .food-name {
        font-size: 30px;
        color: #f1f1f1;
        margin-bottom: 10px; }
      .main-content .right-content ul li .food-name-en, .main-content .right-content ul li .recommend {
        font-size: 18px;
        color: #9a9ea5; }
      .main-content .right-content ul li .food-name-en {
        margin-bottom: 39px; }
  .main-content .right-content::-webkit-scrollbar {
    width: 10px;
    height: 4px; }
  .main-content .right-content::-webkit-scrollbar-track {
    background: #f6f6f6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .main-content .right-content::-webkit-scrollbar-thumb {
    background: #aaa;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
  .main-content .right-content::-webkit-scrollbar-thumb:hover {
    background: #747474; }
  .main-content .right-content::-webkit-scrollbar-corner {
    background: #f6f6f6; }

/*# sourceMappingURL=index.css.map */
