<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>一级页面</title>
  <link href="./css/index.css" rel="stylesheet">
</head>
<body>
<!--遮罩-->
<div class="mask"></div>

<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">
      <img src="img/icon_china_mobile.png" alt="">
      <span>PM 01:09</span>
      <img src="img/icon_cloud.png" alt="">
      <span>22-28℃</span>
    </div>
    <div class="right">
      <img src="img/icon_broadcast.png" alt="">
      <span>
        W和你迎接新的一年，预订可以观赏烟花秀的高层酒吧，享八折优惠。
      </span>
    </div>
  </div>
  <!--头部 结束-->

  <!--欢迎语 开始-->
  <div class="welcome">
    <p class="p1">欢迎莅临 W酒店</p>
    <p class="p2">Welcome to W Hotel</p>
  </div>
  <!--欢迎语 结束-->
  <div class="play" tabindex="-1">
    播放影片
  </div>

  <div class="right-tab">
    <ul>
      <li class="l1" tabindex="-1">
        <img class="mask-l1" src="img/mask_about_hotel.png" alt="">
      </li>
      <li class="l2" tabindex="-1">
        <img class="mask-l2" src="img/mask_my_room.png" alt="">

      </li>
    </ul>
  </div>
</div>

<!--底部tab 开始-->
<div class="btm-tab">
  <ul>
    <li tabindex="-1">
      <div class="li-box">
        <img class="left" src="img/icon_service.png" alt="">
        <div class="left">
          <p class="p1">客房服务</p>
          <p class="p2">Service</p>
        </div>
      </div>
    </li>
    <li tabindex="-1">
      <div class="li-box">
        <img class="left" src="img/icon_shopping.png" alt="">
        <div class="left">
          <p class="p1">吃喝玩乐</p>
          <p class="p2">Shopping</p>
        </div>
      </div>
    </li>
    <li tabindex="-1">
      <div class="li-box">
        <img class="left" src="img/icon_entertmain.png" alt="">
        <div class="left">
          <p class="p1">影音娱乐</p>
          <p class="p2">Entertmain</p>
        </div>
      </div>
    </li>
    <li tabindex="-1">
      <div class="li-box">
        <img class="left" src="img/icon_business.png" alt="">
        <div class="left">
          <p class="p1">商旅服务</p>
          <p class="p2">Business</p>
        </div>
      </div>
    </li>
  </ul>
</div>
<!--底部tab 结束-->

</body>
<script>

</script>
</html>