<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>三级页面</title>
  <link href="./css/index.css" rel="stylesheet">
  <!--<link href="views/L1/css/index.css" rel="stylesheet">-->
</head>
<body>
<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">
      <img src="assets/logo1.png" alt="">
      <img class="line" src="assets/line.png" alt="">
      <img src="assets/logo2.png" alt="">
    </div>
    <div class="right">
      <p class="p1">15:30</p>
      <p class="p2">2018/08/08</p>
    </div>
  </div>
  <!--头部 结束-->

  <!--主要内容区域 开始-->
  <div class="main-content">
    <div class="desc">

    </div>
    <img class="prev" src="img/icon-prev.png" alt="">
    <img class="next" src="img/icon-next-on.png" alt="">
  </div>
  <!--主要内容区域 结束-->

  <!--底部文字-->
  <div class="btm">
    <p class="right"> < >翻页，OK确认，返回键退出</p>
  </div>
</div>


</body>
<script>

</script>
</html>