@import "../../../style/common";
@import "../../../style/mixin";

.main {
  padding: 20px;
}
.header {
  display: flex;
  margin-bottom: 50px;

  .title {
    flex: 2;
  }
  .cal-box {
    flex: 1;
  }
}
.tab-box {
  display: flex;

  div {
    flex: 1;
    text-align: center;
  }
}
.inner-page {
  width: 100%;
  border: none;
}