<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>一级页面</title>
  <link href="./css/index.css" rel="stylesheet">
  <!--<link href="views/L1/css/index.css" rel="stylesheet">-->
</head>
<body>
<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">
      <img src="assets/logo1.png" alt="">
      <img class="line" src="assets/line.png" alt="">
      <img src="assets/logo2.png" alt="">
    </div>
    <div class="right">
      <p class="p1">15:30</p>
      <p class="p2">2018/08/08</p>
    </div>
  </div>
  <!--头部 结束-->

  <!--主要内容区域 开始-->
  <div class="main-content oh">
    <div class="location">
      <span>首页</span>
      <span> > </span>
      <span>客房服务</span>
    </div>
    <div class="main-box">
      <img class="prev" src="img/icon-prev.png" alt="">
      <img class="next" src="img/icon-next-on.png" alt="">
      <div class="back-to-home">
        返回首页
      </div>
    </div>
  </div>
  <!--主要内容区域 结束-->
</div>


</body>
<script>

</script>
</html>