@charset "UTF-8";
body, div, img, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: "黑体", Arial, sans-serif; }
  body:hover, div:hover, img:hover, span:hover, header:hover, footer:hover, nav:hover, section:hover, aside:hover, article:hover, ul:hover, dl:hover, dt:hover, dd:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, i:hover, b:hover, textarea:hover, button:hover, input:hover, select:hover, figure:hover, figcaption:hover {
    outline: none; }

img {
  vertical-align: middle; }

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none; }

textarea {
  -webkit-appearance: none; }

body {
  width: 1280px;
  height: 720px;
  background: #F5F5F5 no-repeat;
  position: relative;
  font-size: 20px;
  color: #ffffff; }

.oh {
  overflow: hidden; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.margin {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none; }

.show {
  display: block; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

@keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite; }

body {
  background-image: url("../img/mask_details_bg.png");
  color: #fff;
  overflow: hidden; }

.main {
  width: 1180px;
  margin: 0 auto;
  position: relative;
  top: 27px; }

.head {
  font-size: 32px;
  overflow: hidden; }
  .head .left {
    font-size: 26px; }
  .head .right {
    font-size: 18px;
    margin-top: 6px; }
    .head .right .and {
      margin: 0 5px; }

.mid-content {
  margin-top: 82px; }
  .mid-content .food-name {
    font-size: 36px;
    color: #f1f1f1;
    line-height: 1;
    margin-bottom: 21px; }
  .mid-content .rcm-num {
    font-size: 18px;
    color: #f1f1f1;
    line-height: 1; }
  .mid-content .food-dsc {
    width: 462px;
    font-size: 20px;
    color: #f1f1f1;
    margin-top: 15px;
    line-height: 1.7;
    margin-bottom: 50px; }
  .mid-content .btn-box {
    width: 186px;
    height: 48px; }
    .mid-content .btn-box .btn {
      background: url("../img/btn_bug_nor.png") no-repeat;
      width: 186px;
      height: 48px; }
    .mid-content .btn-box .btn-active {
      background: url("../img/btn_bug_sel.png") no-repeat;
      width: 186px;
      height: 48px; }

.btm {
  width: 1180px;
  height: 154px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  background-color: #413e61;
  position: absolute;
  top: 512px;
  left: 0; }
  .btm .bg {
    width: 327px;
    height: 130px;
    background: url("../img/bg_recommend.png") no-repeat;
    position: absolute;
    left: 0;
    bottom: 0; }
  .btm .other {
    width: 255px;
    height: 154px;
    float: left;
    text-align: center;
    font-size: 28px;
    color: #f1f1f1; }
    .btm .other p {
      padding-top: 60px; }
  .btm .other-list {
    float: left;
    overflow: hidden;
    width: 925px;
    height: 154px; }
    .btm .other-list li {
      float: left;
      width: 204px;
      height: 96px;
      background: url("../img/mask_recommend.png") no-repeat;
      margin: 28px 20px 0 0; }
      .btm .other-list li p {
        margin-top: 65px;
        padding-left: 20px;
        font-size: 22px;
        color: #f1f1f1; }

/*# sourceMappingURL=index.css.map */
