<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>一级页面</title>
  <link href="css/index.css" rel="stylesheet">
</head>
<body>
<div class="top-right-bg">
  <img src="img/bg_images_photo.png" alt="">
</div>
<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">

      <span>10:45</span>
    </div>
    <div class="wifi left">
      <img src="img/icon_wifi_full.png" alt="">
    </div>
    <div class="left">
      <span>23～26</span>℃
    </div>
    <div class="right">
      <img src="../../assets/head/logo_chinamobile.png" alt="">
      <span>中国移动</span>
      <img class="and" src="../../assets/head/icon_logo_and.png" alt="">
      <img src="../../assets/head/logo_hotel.png" alt="">
      <span>白云酒店</span>
    </div>

  </div>
  <!--头部 结束-->

  <!--主菜单 开始-->
  <div class="tab-menu">
    <ul>
      <li>
        <div class="no-active hide">
          <p class="fp">酒店介绍</p>
          <p>Hotel Information</p>
        </div>
        <div class="is-active show">
          <img src="img/tab_hotel_sel.png" alt="酒店介绍">
        </div>
      </li>
      <li>
        <div class="no-active">
          <p class="fp">客房服务</p>
          <p>Room Service</p>
        </div>
        <div class="is-active hide">
          <img src="img/tab_service_sel.png" alt="客房服务">
        </div>
      </li>
      <li>
        <div class="no-active">
          <p class="fp">吃喝玩乐</p>
          <p>Beer & Skittles</p>
        </div>
        <div class="is-active hide">
          <img src="img/tab_beer_sel.png" alt="吃喝玩乐">
        </div>
      </li>
      <li>
        <div class="no-active">
          <p class="fp">影视娱乐</p>
          <p>Film & Theatre</p>
        </div>
        <div class="is-active hide">
          <img src="img/tab_film_sel.png" alt="影视娱乐">
        </div>
      </li>
      <li>
        <div class="no-active">
          <p class="fp">商旅服务</p>
          <p>Bussiness Service</p>
        </div>
        <div class="is-active hide">
          <img src="img/tab_bussiness_sel.png" alt="商旅服务">
        </div>
      </li>
    </ul>
  </div>
  <!--主菜单 结束-->
</div>
</body>
</html>