<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>一级页面</title>
  <!--<link href="css/index.css" rel="stylesheet">-->
  <link href="css/index.css" rel="stylesheet">
  <!--<script src="../../../plugins/jquery-1.8.2.min.js"></script>-->
</head>
<body>
<div class="top-right-bg">
  <img src="img/bg_images_photo.png" alt="">
</div>
<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">

      <span>10:45</span>
    </div>
    <div class="wifi left">
      <img src="img/icon_wifi_full.png" alt="">
    </div>
    <div class="left">
      <span>23～29</span>℃
    </div>
    <div class="right">
      <img src="img/head/logo_chinamobile.png" alt="">
      <span>中国移动</span>
      <img class="and" src="img/head/icon_logo_and.png" alt="">
      <img src="img/head/logo_hotel.png" alt="">
      <span>白云酒店</span>
    </div>

  </div>
  <!--头部 结束-->

  <div class="tips">
    <img src="img/icon_new_grey.png" alt="">
    <span>温馨提示: 今日天气较为干燥，请勿将未熄灭的烟头扔至地毯</span>
  </div>

  <div class="fonts">
    <p class="p1">主人, 早上好</p>
    <p class="p2">欢迎下榻白云酒店，我们为您提供最优质的服务，厨房餐具、浴缸洗漱一应俱全，是您放松休憩的理想居所。</p>
  </div>
  <!--主菜单 开始-->
  <div class="tab-menu">
    <ul id="menu">
      <li>
        <!--<a href="#" id="a1" name="abc">-->
          <div class="no-active">
            <p class="fp">酒店介绍</p>
            <p>Hotel Information</p>
          </div>
          <div class="is-active">
            <img src="img/tab_hotel_sel.png" alt="酒店介绍">
          </div>
        <!--</a>-->

      </li>
      <li>
        <!--<a href="#" name="d">-->
          <div class="no-active">
            <p class="fp">客房服务</p>
            <p>Room Service</p>
          </div>
          <div class="is-active">
            <img src="img/tab_service_sel.png" alt="客房服务">
          </div>
        <!--</a>-->

      </li>
      <li>
        <!--<a href="#">-->
          <div class="no-active">
            <p class="fp">吃喝玩乐</p>
            <p>Beer & Skittles</p>
          </div>
          <div class="is-active">
            <img src="img/tab_beer_sel.png" alt="吃喝玩乐">
          </div>

        <!--</a>-->
      </li>
      <li>
        <!--<a href="#">-->

          <div class="no-active">
            <p class="fp">影视娱乐</p>
            <p>Film & Theatre</p>
          </div>
          <div class="is-active">
            <img src="img/tab_film_sel.png" alt="影视娱乐">
          </div>
        <!--</a>-->
      </li>
      <li>
        <!--<a href="#">-->

          <div class="no-active">
            <p class="fp">商旅服务</p>
            <p>Bussiness Service</p>
          </div>
          <div class="is-active">
            <img src="img/tab_bussiness_sel.png" alt="商旅服务">
          </div>
        <!--</a>-->
      </li>
    </ul>
  </div>
  <!--主菜单 结束-->
</div>
<script src="js/utils.js"></script>
<script src="js/index.js"></script>
</body>
</html>