<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>一级页面</title>
  <link href="./css/index.css" rel="stylesheet">
  <script src="../../../plugins/jquery-1.8.2.min.js"></script>
</head>
<body>
<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">
      <img src="assets/logo1.png" alt="">
      <img class="line" src="assets/line.png" alt="">
      <img src="assets/logo2.png" alt="">
    </div>
    <div class="right">
      <p class="p1">15:30</p>
      <p class="p2">2018/08/08</p>
    </div>
  </div>
  <!--头部 结束-->

  <div class="news">
    <div class="icon">
      <img src="img/icon-news.png" alt="">
    </div>
    <div class="font">
      为您提供优质的服务，是我们最崇高的使命
    </div>
  </div>


  <!--主要内容区域 开始-->
  <div class="main-content oh">
    <!--左边tab 开始-->
    <div class="tab">
      <div class="bg2">

      </div>
      <ul id="left-ul">
        <a id="aaa">
          酒店介绍
        </a>
        <a>
          客房服务
        </a>
        <a>
          吃喝玩乐
        </a>
        <a>
          影音娱乐
        </a>
        <a>
          周边景点
        </a>
        <a>
          本地特色
        </a>
        <a>
          交通出行
        </a>
      </ul>
    </div>
    <!--左边tab 结束-->

    <!--右边tab页面 开始-->
    <div class="tab-content">
      <div class="box1 box" tabindex="-1">
        <p class="p1">欢迎入住</p>
        <p class="p2">威斯汀酒店</p>
      </div>
      <div class="box2 box" tabindex="-1">
        <p class="p1">智能房控</p>
      </div>
      <div class="box3">
        <img src="img/icon-cloudy.png" alt="">
        <p class="p1">广州</p>
        <p class="p2">35℃</p>
      </div>
      <div class="box4">
        <p class="p1">
          <img src="img/icon-wifi.png" alt="">
          <span>WIFI链接</span>
        </p>
        <p class="p2">
          账号: 1111
        </p>
        <p class="p3">
          密码: 1111
        </p>
      </div>
      <div class="box5">
        <ul id="right-ul">
          <li class="li1" tabindex="-1">
            <img src="img/icon-life1.png" alt="">
            <p>电视直播</p>
          </li>
          <li class="li2" tabindex="-1">
            <img src="img/icon-wechat.png" alt="">
            <p>观影推荐</p>
          </li>
          <li class="li3" tabindex="-1">
            <img src="img/icon-life2.png" alt="">
            <p>热门综艺</p>
          </li>
          <li class="li4" tabindex="-1">
            <img src="img/icon-sports.png" alt="">
            <p>体育赛事</p>
          </li>

        </ul>
      </div>
    </div>
    <!--右边tab页面 结束-->

  </div>
  <!--主要内容区域 结束-->
</div>


</body>
<script src="js/index.js"></script>
</html>