@charset "UTF-8";
body, div, img, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: SimHei,"黑体", Arial, sans-serif; }
  body:hover, div:hover, img:hover, span:hover, header:hover, footer:hover, nav:hover, section:hover, aside:hover, article:hover, ul:hover, dl:hover, dt:hover, dd:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, i:hover, b:hover, textarea:hover, button:hover, input:hover, select:hover, figure:hover, figcaption:hover {
    outline: none; }

a:focus {
  outline: none; }

img {
  vertical-align: middle; }

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none; }

textarea {
  -webkit-appearance: none; }

body {
  width: 1280px;
  height: 720px;
  background: #F5F5F5 no-repeat;
  position: relative;
  font-size: 20px;
  color: #ffffff; }

.oh {
  overflow: hidden; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.margin {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

@keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite; }

body {
  background-image: url("../img/bg_mask_1.png");
  color: #fff;
  overflow: hidden; }

.main {
  width: 1210px;
  margin: 0 auto;
  position: relative;
  top: 37px; }

.head {
  overflow: hidden; }
  .head .and {
    margin: 0 7px; }
  .head .right {
    font-size: 20px;
    color: #fff;
    line-height: 1; }
    .head .right img {
      vertical-align: baseline; }

.main-content {
  margin-top: 127px;
  height: 561px; }
  .main-content .tab {
    width: 208px;
    float: left; }
    .main-content .tab a {
      width: 208px;
      height: 66px;
      margin-bottom: 31px;
      float: left; }
      .main-content .tab a div {
        width: 208px;
        height: 66px;
        font-size: 24px;
        color: #fff; }
        .main-content .tab a div span {
          position: relative;
          top: 3px; }
        .main-content .tab a div p {
          padding: 17px 0 0 35px; }
    .main-content .tab a:focus {
      background-image: url("../img/bg_nav_sel.png");
      outline: none; }
    .main-content .tab .tab-btm p {
      padding-left: 35px; }

.time {
  position: absolute;
  left: 0;
  top: 647px; }
  .time p {
    padding-left: 35px; }

.tab-content {
  width: 1072px;
  height: 490px;
  float: left; }
  .tab-content .box {
    padding-left: 83px;
    overflow: hidden; }
    .tab-content .box ul {
      position: relative;
      left: 0;
      width: 1320px; }
    .tab-content .box a {
      margin: 0 23px 23px 0;
      float: left; }
      .tab-content .box a p {
        line-height: 1.2; }
      .tab-content .box a .p1 {
        margin: 24px 0 0 24px; }
      .tab-content .box a .p2 {
        font-size: 26px;
        color: #fff;
        margin-left: 24px; }
      .tab-content .box a .p3 {
        font-size: 36px;
        color: #fff;
        margin-left: 24px; }
    .tab-content .box .b-box {
      width: 502px;
      height: 236px; }
    .tab-content .box .s-box {
      width: 236px;
      height: 236px; }
    .tab-content .box a.b-box:focus {
      background-image: url("../img/img_card1_sel.png");
      outline: none; }
    .tab-content .box a.s-box:focus {
      background-image: url("../img/img_card2_sel.png");
      outline: none; }
  .tab-content .tab-btm {
    padding-left: 83px; }

.LActive {
  background-image: url("../img/bg_nav_sel.png"); }

/*# sourceMappingURL=index.css.map */
