@charset "UTF-8";
body, div, img, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: SimHei,"黑体", Arial, sans-serif; }
  body:hover, div:hover, img:hover, span:hover, header:hover, footer:hover, nav:hover, section:hover, aside:hover, article:hover, ul:hover, dl:hover, dt:hover, dd:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, i:hover, b:hover, textarea:hover, button:hover, input:hover, select:hover, figure:hover, figcaption:hover {
    outline: none; }

a:focus {
  outline: none; }

img {
  vertical-align: middle; }

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none; }

textarea {
  -webkit-appearance: none; }

body {
  width: 1280px;
  height: 720px;
  background: #F5F5F5 no-repeat;
  position: relative;
  font-size: 20px;
  color: #ffffff; }

.oh {
  overflow: hidden; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.margin {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

@keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: 0.5; }
  50% {
    opacity: 1; }
  75% {
    opacity: 0.5; }
  100% {
    opacity: 1; } }
.animation_opactiy {
  animation: backOpacity 2s ease-in-out infinite; }

body {
  color: #fff;
  overflow: hidden; }

.mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 771px;
  height: 595px;
  background: url("../img/mask_bg.png") no-repeat; }

.main {
  width: 1152px;
  height: 720px;
  margin: 0 auto;
  position: relative; }

.head {
  position: relative;
  top: 36px; }

.welcome {
  position: absolute;
  top: 283px; }
  .welcome .p1 {
    font-size: 60px;
    line-height: 1; }
  .welcome .p2 {
    font-size: 34.5px;
    margin-top: 21px;
    line-height: 1; }

.play {
  position: absolute;
  top: 477px;
  width: 221px;
  height: 58px;
  -webkit-border-radius: 29px;
  -moz-border-radius: 29px;
  -ms-border-radius: 29px;
  -o-border-radius: 29px;
  border-radius: 29px;
  border: 3px solid #ffffff;
  text-align: center;
  line-height: 58px; }

.play.active {
  background: #281479; }

.right-tab {
  width: 290px;
  position: absolute;
  top: 125px;
  right: 0; }
  .right-tab li {
    width: 290px;
    height: 220px;
    margin-bottom: 10px;
    position: relative; }
    .right-tab li .li-div {
      position: absolute;
      top: 160px;
      left: 16px; }
    .right-tab li .p1 {
      font-size: 22.8px;
      color: #8a98ff; }
    .right-tab li .p2 {
      font-size: 20px;
      color: #8a98ff; }
  .right-tab li.active {
    width: 304px;
    height: 226px;
    border: 3px solid #ffffff;
    left: -10px; }
  .right-tab .l1 .mask-l1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 290px;
    height: 92px; }
  .right-tab .l1:focus .mask-l1 {
    width: 304px; }
  .right-tab .l2 .mask-l2 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 290px;
    height: 220px; }
  .right-tab .l2:focus .mask-l2 {
    width: 304px;
    height: 226px; }

.btm-tab {
  position: absolute;
  bottom: 0;
  left: 0; }
  .btm-tab li {
    float: left;
    width: 320px;
    height: 125px;
    background: #061332; }
    .btm-tab li .li-box {
      width: 150px;
      margin: 48px auto 0;
      overflow: hidden;
      color: #7b8cf1;
      text-align: left; }
      .btm-tab li .li-box p {
        white-space: nowrap; }
      .btm-tab li .li-box img {
        margin-right: 5px; }
  .btm-tab li.active {
    background: url("../img/mask_tab_btn.png") no-repeat; }

/*# sourceMappingURL=index.css.map */
