@import "../../../../styles/common";
@import "../../../../styles/mixin";

.main {
  width: 1180px;
  margin: 27px auto;
}

.head {
  font-size: 32px;
  overflow: hidden;
  .left {
    font-size: 26px;
  }
  .right {
    font-size: 18px;
    margin-top: 6px;

    .and {
      margin: 0 5px;
    }
  }
}