<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>二级页面头部</title>
</head>
<body>
<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">

      <span>10:45</span>
    </div>

    <div class="right">
      <img src="../img/logo_chinamobile.png" alt="中国移动">
      <span>中国移动</span>
      <img class="and" src="../img/icon_logo_and.png" alt="">
      <img src="../img/logo_hotel.png" alt="">
      <span>白云酒店</span>
    </div>

  </div>
  <!--头部 结束-->
</div>

</body>
</html>