<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>一级页面</title>
  <link href="./css/index.css" rel="stylesheet">
  <!--<link href="views/L1/css/index.css" rel="stylesheet">-->
</head>
<body>
<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">
      <img src="img/img_logo.png" alt="">

    </div>
    <div class="right">
      <img class="weather" src="img/weather.png" alt="">
      <div class="date">
        <p>2018/04/13</p>
        <p>22~30℃</p>
      </div>
      <div class="time">
        21:00
      </div>
    </div>
  </div>
  <!--头部 结束-->

  <!--欢迎语 开始-->
  <div class="welcome">
    <p class="p1">欢迎下榻</p>
    <p class="p2">
      <span>希尔顿酒店</span>
      <span class="btn" tabindex="-1"></span>
    </p>
  </div>
  <!--欢迎语 结束-->

  <div class="wifi">
    <div>
      <img src="img/icon_wifi.png" alt="">
      <span>Hilton Hotel</span>
    </div>
    <div>
      <img src="img/icon_key.png" alt="">
      <span>Hl1907</span>
    </div>
  </div>

  <div class="tips">
    <p>为您提供优质的服务，是我们最崇高的使命！</p>
  </div>


</div>

<!--底部tab 开始-->
<div class="btm-tab">
  <ul>
    <li class="l1" tabindex="-1">
      <p class="p1">酒店介绍</p>
      <p class="p2">Hotel Introduction</p>
    </li>
    <li class="l2" tabindex="-1">
      <p class="p1">客房服务</p>
      <p class="p2">Room Service</p>
    </li>
    <li class="l3" tabindex="-1">
      <p class="p1">吃喝玩乐</p>
      <p class="p2">Beer and Skittles</p>
    </li>
    <li class="l4" tabindex="-1">
      <p class="p1">影视娱乐</p>
      <p class="p2">Television Play</p>
    </li>
    <li class="l5" tabindex="-1">
      <p class="p1">商务旅行</p>
      <p class="p2">Business Travel</p>
    </li>
  </ul>
</div>
<!--底部tab 结束-->

</body>
<script>

</script>
</html>