<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>一级页面</title>
  <link href="./css/index.css" rel="stylesheet">
</head>
<body>
<div class="main">

  <div class="desc">
    美味多汁的大丁骨（Porterhouse）和纽约特选长牛排（New York strip steak），满足你对美味牛排大宴的需求。结合从传统的纽约风味，用独特的特制配酱，烹调方法以烧烤为主。
  </div>
  <div class="list">
    <ul>
      <li tabindex="-1">

      </li>
      <li tabindex="-1">

      </li>
      <li tabindex="-1">

      </li>
      <li tabindex="-1">

      </li>
      <li tabindex="-1">

      </li>
    </ul>
  </div>
</div>

</body>
<script>

</script>
</html>