<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>二级页面</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">
      <img src="img/navtab_back_home.png" alt="">
    </div>

    <div class="right">
      <img src="img/head/logo_chinamobile.png" alt="">
      <span>中国移动</span>
      <img class="and" src="img/head/icon_logo_and.png" alt="">
      <img src="img/head/logo_hotel.png" alt="">
      <span>白云酒店</span>
    </div>

  </div>
  <!--头部 结束-->

  <!--主要内容区域 开始-->
  <div class="main-content oh">
    <!--左部tab菜单 开始-->
    <ul class="left-menu left" id="left-menu">
      <li tabindex="-1">
        <div class="no-active">
          全部菜品
        </div>
        <div class="is-active">
          全部菜品
        </div>
      </li>
      <li tabindex="-1">
        <div class="no-active">
          午餐套餐
        </div>
        <div class="is-active">
          午餐套餐
        </div>
      </li>
      <li tabindex="-1">
        <div class="no-active">
          星厨推荐
        </div>
        <div class="is-active">
          星厨推荐
        </div>
      </li>
      <li tabindex="-1">
        <div class="no-active">
          热销单品
        </div>
        <div class="is-active">
          热销单品
        </div>
      </li>
      <li tabindex="-1">
        <div class="no-active">
          儿童套餐
        </div>
        <div class="is-active">
          儿童套餐
        </div>
      </li>
      <li tabindex="-1">
        <div class="no-active">
          特制饮品
        </div>
        <div class="is-active">
          特制饮品
        </div>
      </li>

    </ul>
    <!--左部tab菜单 结束-->

    <!--右部tab对应页 开始-->
    <div class="right-content" id="right-content">
      <ul id="right-menu">
        <li tabindex="-1">
          <div>
            <p class="food-name">泡芙</p>
            <p class="food-name-en">cream puff</p>
            <p class="recommend">
              推荐指数
              <!--<span>-->
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
            <!--</span>-->
            </p>
          </div>
        </li>
        <li tabindex="-1">
          <div>
            <p class="food-name">泡芙</p>
            <p class="food-name-en">cream puff</p>
            <p class="recommend">
              推荐指数
              <!--<span>-->
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
            <!--</span>-->
            </p>
          </div>
        </li>
        <li tabindex="-1">
          <div>
            <p class="food-name">泡芙</p>
            <p class="food-name-en">cream puff</p>
            <p class="recommend">
              推荐指数
              <!--<span>-->
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
            <!--</span>-->
            </p>
          </div>
        </li>
        <li tabindex="-1">
          <div>
            <p class="food-name">泡芙</p>
            <p class="food-name-en">cream puff</p>
            <p class="recommend">
              推荐指数
              <!--<span>-->
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
            <!--</span>-->
            </p>
          </div>
        </li>
        <li tabindex="-1">
          <div>
            <p class="food-name">泡芙</p>
            <p class="food-name-en">cream puff</p>
            <p class="recommend">
              推荐指数
              <!--<span>-->
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
              <img src="img/icon_grade_light.png" alt="">
            <!--</span>-->
            </p>
          </div>
        </li>

      </ul>


    </div>
    <!--右部tab对应页 结束-->

    <!--模拟滚动条-->
    <div class="scroll" id="scroll">
      <div class="scroll-bar" id="scroll-bar" style="">
      </div>
    </div>
  </div>
  <!--主要内容区域 结束-->

</div>
<script src="js/index.js"></script>

</body>
</html>