@import "../../styles/common";
@import "../../styles/mixin";

html, body {
  height: 100%;
  background-color: rgb(245, 233, 56);
  position: relative;
}

.btm-bg {
  width: 100%;
  height: 26rem;
  position: absolute;
  bottom: 0;
  left: 0;
  //overflow: hidden;
  @include bdbox;
  padding: 20px;
  .bgimg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }
  .btn {
    width: 10rem;
    height: 2rem;
    text-align: center;
    color: #ff0000;
    line-height: 2rem;
    @include center;
    background-color: rgb(245, 233, 56);
    @include borderRadius(5rem);
    top: 20%;
    z-index: 30;
  }
  .rebox {
    position: relative;
    z-index: 30;

  }
  .sign-in-box {
    z-index: 30;

    position: absolute;
    @include bdbox;
    width: 100%;
    padding: 0 20px;
    margin-top: 6rem;
    font-size: 15px;

    p {
      span:nth-child(3) {
        float: right;
      }
    }
  }
  .rule-box {
    @include borderRadius(10px);
    z-index: 30;

    width: 90%;
    height: 8rem;
    position: absolute;
    top: 79%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #e63c3c;
    @include bdbox;
    padding: 10px 20px;
    color: rgb(245, 233, 56);
    font-size: 15px;
    header {
      font-size: 20px;
      text-align: center;
      font-weight:bold;
    }

  }
}

.peo-bg {
  position: absolute;
  z-index: 10;
  width: 90%;
  //height: 100%;
  img {
    position: absolute;
  }
  .img1 {
    top: -1.8rem;
    left: -.5rem;
    width: 5.75rem;
    height: 3.34rem;
  }
  .img2 {
    top: -2.5rem;
    right: -.5rem;
    width: 4.25rem;
    height: 4.25rem;
  }
  .img3 {
    width: 9rem;
    height: 6rem;
    top: -5.1rem;
    left: 3.75rem;
  }
  .img4 {
    width: 2.6rem;
    height: 2.6rem;
    left: 0;
    top: -5rem;
  }
  .img5 {
    width: 2.6rem;
    height: 2.6rem;
    right: 0;
    top: -6rem;
  }
}