<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>答题页面</title>
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <!--顶部内容-->
  <div class="dsc-box">
    <p class="dsc">描述描述</p>
    <div class="media">
      <div id="vbox" class="hide">
        <video id="video">
          <source src="" type="video/mp4">
          您的浏览器不支持 video 标签。
        </video>
      </div>
      <div id="abox" class="">
        <audio id="audio" class="hide" src="img/yaoyiyao.mp3"></audio>
        <img id="pBtn" class="pBtn" src="img/play.png" alt="">
        <img id="pBtn2" class="pBtn hide" src="img/pause-circle.png" alt="">
      </div>

    </div>

  </div>

  <!--选项-->
  <div class="sel-box">
    <ul class="">
      <li class="ellipsis">
        选项
      </li>
      <li class="ellipsis">

      </li>
      <li class="ellipsis">

      </li>
      <li class="ellipsis">

      </li>
    </ul>
  </div>
<!--<div class="aa"></div>-->
  <script>
    var li = document.querySelectorAll('li');
//    console.log(li);
    for(var i=0;i<li.length;i++) {
      // 按钮点击变色
      li[i].ontouchstart  = function() {
        this.style.background = '#ef6c6c'
      };
      li[i].ontouchend  = function() {
        this.style.background = 'lightcoral'

      };
    }

  </script>
  <script src="js/index.js"></script>
</body>

</html>