body, div, img, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  font-weight: normal;
  font-family: 'Microsoft Yahei',Tahoma,Helvetica,Arial,sans-serif; }
  body:hover, div:hover, img:hover, span:hover, header:hover, footer:hover, nav:hover, section:hover, aside:hover, article:hover, ul:hover, dl:hover, dt:hover, dd:hover, li:hover, a:hover, p:hover, h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover, i:hover, b:hover, textarea:hover, button:hover, input:hover, select:hover, figure:hover, figcaption:hover {
    outline: none; }

body {
  line-height: 1.42857143; }

img {
  vertical-align: middle; }

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none; }

textarea {
  -webkit-appearance: none; }

.oh {
  overflow: hidden; }

.clear:after {
  content: '';
  display: block;
  clear: both; }

.clear {
  zoom: 1; }

.back_img {
  background-repeat: no-repeat;
  background-size: 100% 100%; }

.margin {
  margin: 0 auto; }

.left {
  float: left; }

.right {
  float: right; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

@-webkit-keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: .5; }
  50% {
    opacity: 1; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1; } }

@keyframes backOpacity {
  0% {
    opacity: 1; }
  25% {
    opacity: .5; }
  50% {
    opacity: 1; }
  75% {
    opacity: .5; }
  100% {
    opacity: 1; } }

.animation_opactiy {
  -webkit-animation: backOpacity 2s ease-in-out infinite;
          animation: backOpacity 2s ease-in-out infinite; }

html, body {
  height: 100%;
  background-color: #f5e938;
  position: relative; }

.btm-bg {
  width: 100%;
  height: 26rem;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px; }
  .btm-bg .bgimg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20; }

.import {
  width: 10rem;
  height: 2rem;
  text-align: center;
  color: #ff0000;
  line-height: 2rem;
  border-radius: 5rem;
  background-color: #f5e938;
  margin: 4rem auto; }

.form {
  position: absolute;
  top: 6rem;
  left: 0;
  z-index: 30;
  padding: 20px; }

.peo-bg {
  position: absolute;
  z-index: 50;
  width: 90%; }
  .peo-bg img {
    position: absolute;
    z-index: 50; }
  .peo-bg .img4 {
    width: 2.6rem;
    height: 2.6rem;
    left: 4rem;
    top: -1rem; }
  .peo-bg .img5 {
    width: 2.6rem;
    height: 2.6rem;
    right: 4rem;
    top: -1rem; }

.Btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 4px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-size: 18px;
  height: 41px;
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
  color: #fff;
  background-color: #26a2ff;
  width: 100%; }

.preBtn {
  margin-top: 1rem; }

.csv_file {
  display: block; }

.up {
  position: absolute;
  z-index: 50;
  top: 5rem;
  left: 1rem;
  width: 90%; }

.Vbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); }
  .Vbox video {
    width: 100%;
    height: 50%;
    background-color: #fff; }

.rule-box {
  border-radius: 10px;
  z-index: 30;
  width: 90%;
  height: 8rem;
  position: absolute;
  top: 81%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #e63c3c;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 20px;
  color: #f5e938;
  font-size: 15px; }
  .rule-box header {
    font-size: 20px;
    text-align: center;
    font-weight: bold; }

/*# sourceMappingURL=index.css.map */
