* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@-webkit-keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, 220px, 2px, 0px); }
  25% {
    clip: rect(0px, 2px, 220px, 0px); }
  50% {
    clip: rect(218px, 220px, 220px, 0px); }
  75% {
    clip: rect(0px, 220px, 220px, 218px); } }

@keyframes clipMe {
  0%,
  100% {
    clip: rect(0px, 220px, 2px, 0px); }
  25% {
    clip: rect(0px, 2px, 220px, 0px); }
  50% {
    clip: rect(218px, 220px, 220px, 0px); }
  75% {
    clip: rect(0px, 220px, 220px, 218px); } }

.dn {
  display: none; }

html,
body {
  width: 1920px;
  height: 1080px;
  position: relative; }

#container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

.box-wh {
  width: 440px;
  height: 620px; }

.box1-1 {
  width: 440px;
  height: 620px;
  position: absolute;
  top: 180px;
  left: 54px;
  z-index: 999;
  -webkit-box-shadow: inset 0 0 0 3px rgba(105, 202, 98, 0.5);
          box-shadow: inset 0 0 0 3px rgba(105, 202, 98, 0.5);
  color: #3bc331; }

.box1-1::before,
.box1-1::after {
  content: "";
  z-index: 998;
  /* margin: -5%; */
  -webkit-box-shadow: inset 0 0 0 2px;
          box-shadow: inset 0 0 0 2px;
  -webkit-animation: clipMe 8s linear infinite;
          animation: clipMe 8s linear infinite; }

.box1 {
  position: absolute;
  top: 180px;
  left: 54px;
  z-index: 999; }

.box2 {
  position: absolute;
  top: 180px;
  right: 54px;
  z-index: 999; }

.bg1 {
  width: 100%;
  height: 100%;
  background: url("../img/bg1.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 99;
  pointer-events: none; }

.bg2 {
  width: 100%;
  height: 100%;
  background: url("../img/bg2.png") no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 99; }

.box3 {
  width: 1200px;
  height: 280px;
  position: absolute;
  z-index: 999;
  bottom: 0;
  left: 50%;
  margin-left: -600px; }

.gaosu {
  width: 100px;
  height: 100px;
  /* background-color: blue; */
  position: absolute;
  top: 111px;
  left: 171px;
  -webkit-transform: rotate(61deg);
          transform: rotate(61deg); }

.tielu {
  width: 100px;
  height: 100px;
  /* background-color: blue; */
  position: absolute;
  top: 70px;
  left: 279px;
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg); }

.l-icon {
  width: 340px;
  height: 270px;
  position: absolute;
  bottom: 0;
  left: 54px;
  z-index: 99;
  overflow: hidden; }

.r-icon {
  width: 340px;
  height: 280px;
  position: absolute;
  bottom: 0;
  right: 54px;
  z-index: 99; }

.r-icon img {
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg); }

video {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill; }

.box2-s {
  width: 440px;
  height: 310px; }

input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99; }

.amap-indoormap-floorbar-control {
  position: absolute;
  margin: auto 0;
  bottom: 165px;
  right: 12px;
  width: 70px;
  text-align: center;
  line-height: 1.3em;
  overflow: hidden;
  padding: 0 2px; }

@-webkit-keyframes run {
  0% {
    background-position: 0 0; }
  3.44% {
    background-position: 0 -270px; }
  6.88% {
    background-position: 0 -540px; }
  10.32% {
    background-position: 0 -810px; }
  13.76% {
    background-position: 0 -1080px; }
  17.2% {
    background-position: 0 -1350px; }
  20.64% {
    background-position: 0 -1620px; }
  24.08% {
    background-position: 0 -1890px; }
  27.52% {
    background-position: 0 -2160px; }
  30.96% {
    background-position: 0 -2430px; }
  34.4% {
    background-position: 0 -2700px; }
  37.839999999999996% {
    background-position: 0 -2970px; }
  41.28% {
    background-position: 0 -3240px; }
  44.72% {
    background-position: 0 -3510px; }
  48.16% {
    background-position: 0 -3780px; }
  51.6% {
    background-position: 0 -4050px; }
  55.04% {
    background-position: 0 -4320px; }
  58.48% {
    background-position: 0 -4590px; }
  61.92% {
    background-position: 0 -4860px; }
  65.36% {
    background-position: 0 -5130px; }
  68.8% {
    background-position: 0 -5400px; }
  72.24% {
    background-position: 0 -5670px; }
  75.67999999999999% {
    background-position: 0 -5940px; }
  79.12% {
    background-position: 0 -6210px; }
  82.56% {
    background-position: 0 -6480px; }
  86% {
    background-position: 0 -6750px; }
  89.44% {
    background-position: 0 -7020px; }
  92.88% {
    background-position: 0 -7290px; }
  96.32% {
    background-position: 0 -7560px; }
  100% {
    background-position: 0 0; } }

@keyframes run {
  0% {
    background-position: 0 0; }
  3.44% {
    background-position: 0 -270px; }
  6.88% {
    background-position: 0 -540px; }
  10.32% {
    background-position: 0 -810px; }
  13.76% {
    background-position: 0 -1080px; }
  17.2% {
    background-position: 0 -1350px; }
  20.64% {
    background-position: 0 -1620px; }
  24.08% {
    background-position: 0 -1890px; }
  27.52% {
    background-position: 0 -2160px; }
  30.96% {
    background-position: 0 -2430px; }
  34.4% {
    background-position: 0 -2700px; }
  37.839999999999996% {
    background-position: 0 -2970px; }
  41.28% {
    background-position: 0 -3240px; }
  44.72% {
    background-position: 0 -3510px; }
  48.16% {
    background-position: 0 -3780px; }
  51.6% {
    background-position: 0 -4050px; }
  55.04% {
    background-position: 0 -4320px; }
  58.48% {
    background-position: 0 -4590px; }
  61.92% {
    background-position: 0 -4860px; }
  65.36% {
    background-position: 0 -5130px; }
  68.8% {
    background-position: 0 -5400px; }
  72.24% {
    background-position: 0 -5670px; }
  75.67999999999999% {
    background-position: 0 -5940px; }
  79.12% {
    background-position: 0 -6210px; }
  82.56% {
    background-position: 0 -6480px; }
  86% {
    background-position: 0 -6750px; }
  89.44% {
    background-position: 0 -7020px; }
  92.88% {
    background-position: 0 -7290px; }
  96.32% {
    background-position: 0 -7560px; }
  100% {
    background-position: 0 0; } }

.l-icon {
  background: url(../img/car.png);
  /* background-size: 100% 100%; */
  -webkit-animation: run 2s steps(1, start) infinite;
          animation: run 2s steps(1, start) infinite; }

.l-icon img {
  width: 340px;
  position: relative;
  top: 0;
  left: 0; }

/*# sourceMappingURL=demo.css.map */
