<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>一级页面</title>
  <link href="./css/index.css" rel="stylesheet">
  <!--<link href="views/L1/css/index.css" rel="stylesheet">-->
</head>
<body>
<div class="main">
  <!--头部 开始-->
  <div class="head">
    <div class="left">
      <img src="img/img_logo.png" alt="">

    </div>
    <div class="right">
      <img class="weather" src="img/weather.png" alt="">
      <div class="date">
        <p>2018/04/13</p>
        <p>22~30℃</p>
      </div>
      <div class="time">
        21:00
      </div>
    </div>
  </div>
  <!--头部 结束-->

  <!--位置 -->
  <div class="location">
    <span>主页</span>
    <span> > </span>
    <span>吃喝玩乐</span>
    <span> > </span>
    <span>酒店美食</span>
  </div>
  <!--位置 -->

  <div class="list">
    <ul>

      <li tabindex="-1">
        <p class="p1">特色菜式</p>
        <p class="p2">Speciaty</p>
      </li>
      <li tabindex="-1">
        <p class="p1">特色菜式</p>
        <p class="p2">Speciaty</p>
      </li>
      <li tabindex="-1">
        <p class="p1">特色菜式</p>
        <p class="p2">Speciaty</p>
      </li>

      <!--<li class="clear"></li>-->

      <li tabindex="-1">
        <p class="p1">特色菜式</p>
        <p class="p2">Speciaty</p>
      </li>
      <li tabindex="-1">
        <p class="p1">特色菜式</p>
        <p class="p2">Speciaty</p>
      </li>
      <li tabindex="-1">
        <p class="p1">特色菜式</p>
        <p class="p2">Speciaty</p>
      </li>

      <!--<li class="clear"></li>-->

      <li tabindex="-1">
        <p class="p1">特色菜式</p>
        <p class="p2">Speciaty</p>
      </li>
      <li tabindex="-1">
        <p class="p1">特色菜式</p>
        <p class="p2">Speciaty</p>
      </li>
      <li tabindex="-1">
        <p class="p1">特色菜式</p>
        <p class="p2">Speciaty</p>
      </li>
    </ul>
  </div>
</div>


</body>
<script>

</script>
</html>