<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="page-view-size" content="1280*720"/>
  <title>一级页面</title>
  <link href="./css/index.css" rel="stylesheet">
</head>
<body>
<div class="main">
  <div class="title">
    <p>The air base by Calvin Harris</p>
    <p>跨年之夜电音派对</p>
  </div>
  <div class="desc">
    <p>
      电子音乐结合视听觉的极致体验，邀请全球排名前十大的英国DJ凯文哈里斯至现场表演 ，给你完美的跨年之夜！电子音乐结合视听觉的极致体验，邀请全球排名前十大的英国DJ凯文哈里斯至现场表演 ，给你完美的跨年之夜！
    </p>
  </div>
  <div class="btn">
    预定活动
  </div>
</div>

</body>
<script>

</script>
</html>